@tailwind base;
@tailwind components;
@tailwind utilities;

::after,
::before {
  box-sizing: border-box;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

.skew {
  display: none;
}
